@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

/* Animasi scale */
@keyframes scaleDown {
    0% {
        transform: scale(1.05); /* Mulai dari ukuran 1.5x lebih besar */
        opacity: 0;            /* Mulai dengan opacity 0 */
    }
    100% {
        transform: scale(1);   /* Berakhir dengan ukuran normal */
        opacity: 1;            /* Berakhir dengan opacity 1 */
    }
}

/* Animasi untuk h2 di dalam section */


/* Animasi untuk elemen dengan class section-title-animation */
.section-title-animation {
    opacity: 0;
    transform: scale(1.5); /* Set initial state to match the animation */
}

/* Ketika elemen terlihat, jalankan animasi */
.section-title-animation.show {
    animation: scaleDown forwards ease-in-out;
}

/* Ketika elemen terlihat, jalankan animasi */
section.show h2,
.section-title-animation.show {
    animation: scaleDown 0.5s forwards ease-in-out;
}

section h2 {
    opacity: 0;
    transform: scale(1.5); /* Set initial state to match the animation */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

section {
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

section.show {
    opacity: 1;
}


h1 {
    @apply text-[138px] text-center font-inter
}

li {
    @apply text-base font-inter;

}

h2 {
    @apply font-inter text-[64px]
}

h3 {
    @apply font-inter text-3xl
}

h4 {
    @apply font-inter text-xl
}

h5 {
    @apply font-inter text-[16px]
}

p {
    @apply font-inter text-[18px] text-[#898D94]
}

div {
    @apply font-inter
}

header {
    @apply text-base
}

@media (screen(tablet)) {

    header {
        @apply text-[10px]
    }

    

    li {
        @apply text-[10px] font-inter;
    }

    h1 {
        @apply text-[80px] text-center font-inter leading-tight
    }

    h4 {
        @apply text-[15px] font-inter;
      }
    
    h3 {
        @apply text-base
    }

    p {
        @apply font-inter text-[10px] text-[#898D94]
    }

    h2 {
        @apply font-inter text-[64px]
    }

    h5 {
        @apply font-inter text-[16px]
    }
    
    div {
        @apply font-inter
    }

    span {
        @apply text-sm
    }

    

    
}

@media (screen(mobile)) {

    p {
        @apply text-[16px]

    }

    h2 {
        @apply text-[48px]
    }

    h1 {
        @apply text-[60px]
    }

    h3 {
        @apply text-[32px]
    }
    
}

}

@layer components {

.ul-header {
    @apply flex flex-row items-center space-x-10 mx-auto
}

.session-title {
    
}

.main-title {
    @apply text-[132px] text-center leading-tight
}

.o-word {
    @apply inline-block rounded-full border-baseColor border-[10px] pl-44 pt-18 mx-3
}

.btn {
    @apply py-3 px-5 text-[16px] border rounded-full flex flex-row items-center justify-center border-blackTheme space-x-2 
}

.btn-circle {
    @apply py-3 px-3 text-[16px] border rounded-full flex flex-row items-center justify-center border-blackTheme
}

.btn-card {
    @apply px-3 py-1 text-[16px]
}

.card {
    @apply flex flex-col h-auto p-6 space-y-4 justify-start items-start rounded-3xl border-2
}

.card-middle {
    @apply flex flex-col h-auto p-6 space-y-4 justify-start items-start rounded-3xl border-2
}

.card-leading {
    @apply leading-relaxed h-full 
}

.card-portrait {
    @apply desktop:w-auto desktop:h-[508px] tablet:w-auto tablet:h-[254px] bg-cover rounded-3xl
}

.card-testimonial {
    @apply flex flex-col desktop:w-auto desktop:h-[367px] tablet:w-auto tablet:h-[254px] p-6 space-y-4 justify-start items-start rounded-3xl border-2
}

.sub-title {
    @apply flex flex-col justify-center items-center
}

.search-fill {
    @apply text-paragraph  items-center border-b-2 w-48 flex flex-row justify-between 
}

.card-square {
    @apply desktop:w-auto desktop:h-[366px] tablet:w-auto tablet:h-[183px] rounded-3xl bg-cover
}

.icon {
    @apply ml-2 w-6 h-6
}

.icon-footer {
    @apply w-3 h-3 text-white 
}

.profile-pict {
    @apply w-[54] h-[54] rounded-full 
}

.logo {
    @apply w-[165px] h-[40px]
}

.img-group {
    @apply h-14 w-auto

}

.costum-font {
    @font-face {
        font-family: 'Helvetica';
        src: url('./assets/fonts/Helvetica.ttf'),
        url('./assets/fonts/Helvetica-Bold.ttf'),
        url('./assets/fonts/Helvetica-Oblique.ttf'),
        url('./assets/fonts/Helvetica-BoldOblique.ttf');
    }
}
  
 


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to right, #ECEDEE 0.8px, transparent 0.8px),
                      linear-gradient(to bottom, #ECEDEE 0.8px, transparent 0.8px);
    background-size: 8.2% 22%; /* Adjust to fit grid lines */
    background-position: 0 0;
}

.grid-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none; /* To ensure the gradient layer does not block interactions */
    z-index: 1;
}

.meteor {
    top: 50%;
    height: 100px; /* Menyesuaikan tinggi dengan panjang tail */
    width: 2px; 
    border-radius: 999px;
    background: linear-gradient(45deg, #C267FA, rgba(255, 255, 255, 0)); /* Gradien vertikal */
    position: absolute;
    z-index: 1; /* Ensure meteors are above grid lines */
    filter: drop-shadow(0 0 6px #C267FA);
    animation: tail 10s ease-in-out infinite, falling 10s ease-in-out infinite;
}

.meteor::before, .meteor::after{
    content: '';
    position: absolute;
    bottom: calc(1%);
    width: 4px;
    height: 4px;
    background: #C267FA;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    animation: shining 10s ease-in-out infinite;
  }

.meteor-up {
    top: 50%;
    height: 100px; /* Menyesuaikan tinggi dengan panjang tail */
    width: 2px; 
    border-radius: 999px;
    background: linear-gradient(320deg, rgba(255, 255, 255, 0), #C267FA); /* Gradien vertikal */
    position: absolute;
    z-index: 1; /* Ensure meteors are above grid lines */
    filter: drop-shadow(0 0 6px #C267FA);
    animation: tail-up 20s ease-in-out infinite, falling-up 20s ease-in-out infinite;
}



  .meteor-up::before, .meteor-up::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #C267FA;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    animation: shining 20s ease-in-out infinite;
  }

  @keyframes shining{
    0%{
      transform: scale(0);
    }

    10% {
        transform: scale(2);
    }
    80%{
      transform: scale(2);
    }
    100%{
      transform: scale(0);
    }
  }

@keyframes tail{
    0%{
      height: 0px;
    }
    30%{
      height: 100px;
      
    }
    90%{
        height: 0px;
    }
    100%{
        height: 0px;
    }
    
  }

@keyframes falling{
0%{
    transform: translateY(0);
}

100% {
    transform: translateY(300px);
}
}

@keyframes tail-up{
    0%{
      height: 0px;
    }
    30%{
      height: 100px;
      
    }
    90%{
        height: 0px;
    }
    100%{
        height: 0px;
    }
  }

@keyframes falling-up{
    0%{
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(-300px);
    }
    }

.meteor:nth-child(1) {
    left: 8.1%; /* Adjust position */
    animation-delay: 0s;
}

.meteor-up:nth-child(2) {
    left: 16.3%; /* Adjust position */
    animation-delay: 0s;
}

.meteor:nth-child(3) {
    right: 9.6%; /* Adjust position */
    top : 10%;
    animation-delay: 0s;
}

.meteor-up:nth-child(4) {
    right: 17.8%; /* Adjust position */
    animation-delay: 0s;
}


        
.nav-display {
    @apply flex flex-row justify-between h-17 items-center
}

.nav-gap {
    @apply flex flex-row
}

.section-title-testimonial {
    @apply flex w-[872px] space-y-6 flex-col items-center
}

.star {
    @apply w-5 h-5
}

.slider-1 {
    @apply h-34 w-full flex justify-around items-center animate-marquee whitespace-nowrap
}

.slider-2 {
    @apply h-34 w-full flex justify-around items-center animate-marquee2 whitespace-nowrap absolute
}

.slider-content {
    @apply h-12 w-auto
}

@keyframes scrollDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.dropdown-content {
    animation: scrollDown 0.3s ease-out;
}

.dropdown-content.fade-out {
    animation: scrollUp 0.3s ease-out forwards; /* Menambahkan animasi fade out */
}


    
@media (screen(tablet)) {

    .btn-circle {
        @apply py-2 px-2 text-[16px] border rounded-full flex flex-row items-center justify-center border-blackTheme
    }

    .img-group {
        @apply h-6 w-1
    
    }

    .container {
        @apply px-4
    }

    .slider-content {
        @apply h-6 w-auto
    }

    .slider-1 {
        @apply h-34 w-full flex justify-around items-center animate-marquee whitespace-nowrap
    }
    
    .slider-2 {
        @apply h-34 w-full flex justify-around items-center animate-marquee2 whitespace-nowrap absolute
    }

    .btn-card {
        @apply px-3 py-1 text-[10px]
    }

    .card {
        @apply flex flex-col h-auto p-4 space-y-2 justify-start items-start rounded-3xl border-2
    }

    .img-group {
        @apply h-8 w-auto
    
    }

    .section-title-testimonial {
        @apply flex w-auto space-y-6 flex-col items-center
    }

    .icon {
        @apply ml-2 w-3 h-3
    }

    .nav-gap {
        @apply flex flex-row space-x-0
    }

    .nav-display {
        @apply flex flex-row justify-between h-17 items-center 
    }

    .main-logo {
        @apply w-[120px] h-auto    
    }

    .btn {
        @apply py-2 px-3 rounded-full flex flex-row items-center space-x-5 text-[10px] border border-blackTheme
    }

    .ul-header {
        @apply flex flex-row items-center space-x-7 mx-auto
    }

    .o-word {
        @apply inline-block rounded-full border-baseColor border-[5px] pl-28 pt-10 mx-3
    }

    .star {
        @apply w-3 h-3
    }

    .download {
        @apply w-5 h-5
    }

    .slider-1 {
        @apply h-34 w-[1440px] flex justify-around items-center animate-marquee whitespace-nowrap
    }
    
    .slider-2 {
        @apply h-34 w-[1440px] flex justify-around items-center animate-marquee2 whitespace-nowrap absolute
    }
    
    .slider-content {
        @apply h-34 w-auto flex items-center justify-around
    }

    .search-fill {
        @apply text-paragraph flex flex-row items-start border-b-2 
    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        width: 100vw;
        height: 100vh;
        position: relative;
        background-image: linear-gradient(to right, #ECEDEE 0.8px, transparent 0.8px),
                          linear-gradient(to bottom, #ECEDEE 0.8px, transparent 0.8px);
        background-size: 8.2% 22%; /* Adjust to fit grid lines */
        background-position: 0 0;
    }
    
    .grid-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        pointer-events: none; /* To ensure the gradient layer does not block interactions */
        z-index: 1;
    }
    
    .meteor {
        top: 50%;
        height: 100px; /* Menyesuaikan tinggi dengan panjang tail */
        width: 2px; 
        border-radius: 999px;
        background: linear-gradient(45deg, #C267FA, rgba(255, 255, 255, 0)); /* Gradien vertikal */
        position: absolute;
        z-index: 1; /* Ensure meteors are above grid lines */
        filter: drop-shadow(0 0 6px #C267FA);
        animation: tail 10s ease-in-out infinite, falling 10s ease-in-out infinite;
    }
    
    .meteor::before, .meteor::after{
        content: '';
        position: absolute;
        bottom: calc(1%);
        width: 3px;
        height: 3px;
        background: #C267FA;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
        animation: shining 10s ease-in-out infinite;
      }
    
    .meteor-up {
        top: 50%;
        height: 100px; /* Menyesuaikan tinggi dengan panjang tail */
        width: 2px; 
        border-radius: 999px;
        background: linear-gradient(320deg, rgba(255, 255, 255, 0), #C267FA); /* Gradien vertikal */
        position: absolute;
        z-index: 1; /* Ensure meteors are above grid lines */
        filter: drop-shadow(0 0 6px #C267FA);
        animation: tail-up 20s ease-in-out infinite, falling-up 20s ease-in-out infinite;
    }
    
    
    
      .meteor-up::before, .meteor-up::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        background: #C267FA;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
        animation: shining 20s ease-in-out infinite;
      }
    
      @keyframes shining{
        0%{
          transform: scale(0);
        }
    
        10% {
            transform: scale(2);
        }
        80%{
          transform: scale(2);
        }
        100%{
          transform: scale(0);
        }
      }
    
    @keyframes tail{
        0%{
          height: 0px;
        }
        30%{
          height: 100px;
          
        }
        90%{
            height: 0px;
        }
        100%{
            height: 0px;
        }
        
      }
    
    @keyframes falling{
    0%{
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(300px);
    }
    }
    
    @keyframes tail-up{
        0%{
          height: 0px;
        }
        30%{
          height: 100px;
          
        }
        90%{
            height: 0px;
        }
        100%{
            height: 0px;
        }
      }
    
    @keyframes falling-up{
        0%{
            transform: translateY(0px);
        }
        
        100% {
            transform: translateY(-300px);
        }
        }
    
    .meteor:nth-child(1) {
        left: 8.1%; /* Adjust position */
        animation-delay: 0s;
    }
    
    .meteor-up:nth-child(2) {
        left: 16.3%; /* Adjust position */
        animation-delay: 0s;
    }
    
    .meteor:nth-child(3) {
        right: 9.6%; /* Adjust position */
        top : 10%;
        animation-delay: 0s;
    }
    
    .meteor-up:nth-child(4) {
        right: 17.8%; /* Adjust position */
        animation-delay: 0s;
    }
}

@media (screen(mobile)) {

    .section-title-testimonial {
        @apply flex w-auto space-y-6 flex-col items-center
    }

    .nav-display {
        @apply flex flex-row justify-between h-17 items-center
    }

    .o-word {
        @apply inline-block rounded-full border-baseColor border-[5px] pl-20 pt-7 mx-2
    }

    .btn {
        @apply py-2 px-6 text-[16px] border rounded-full flex flex-row items-center justify-center border-blackTheme space-x-2
    }

    .slider-1 {
        @apply h-34 w-[1440px] flex justify-around items-center animate-marquee whitespace-nowrap
    }
    
    .slider-2 {
        @apply h-34 w-[1440px] flex justify-around items-center animate-marquee2 whitespace-nowrap absolute
    }
    
    .slider-content {
        @apply h-34 w-auto flex items-center justify-around
    }

    .card-portrait {
        @apply w-auto h-[480px] bg-cover rounded-3xl
    }

    .search-fill {
        @apply text-paragraph justify-start border-b-2 flex flex-row w-full
    }

    .icon {
        @apply ml-2 w-4 h-4
    }

    .card-square {
        @apply w-auto h-[366px] rounded-3xl bg-cover
    }

    .card-testimonial {
        @apply flex flex-col p-6 space-y-4 justify-start items-start rounded-3xl border-2
    }

    .star {
        @apply w-[24px] h-[24px]
    }

    .btn-circle {
        @apply py-4 px-4 text-[16px] border rounded-full flex flex-row items-center justify-center border-blackTheme
    }
    
}

}